{% extends 'base.html' %}


{% block content %}

<div class="content-wrapper">
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{judul}}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{jumlah_siswa}}</h3>
                            <p>Daftar Siswa</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <a href="{% url 'daftar_siswa_bk' %}" class="small-box-footer">Selengkapnya 
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 col-6 ml-5">
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>{{jumlah_pelanggaran}}</h3>
                            <p>Daftar Pelanggaran</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <a href="{% url 'daftar_pelanggaran_bk' %}" class="small-box-footer">Selengkapnya 
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <section class="col-lg-10 connectedSortable mt-4 ml-5">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                <i class="far fa-list-alt"></i>
                                Top Pelanggaran
                            </h5>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered table-striped display-nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 4%;" class="text-center">No.</th>
                                        <th scope="col" style="width: 55%;">Nama Pelanggaran</th>
                                        <th scope="col" style="width: 15%;" class="text-center">Total Pelanggaran</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pelanggaran in top_pelanggaran %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td>{{pelanggaran.pelanggaran__nama_pelanggaran}}</td>
                                        <td class="text-center">{{pelanggaran.total}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

</div>

{% endblock content %}