{% extends 'base.html' %} 


{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <a class="btn btn-sm btn-primary" href="{% url 'tambah_poin_pelanggaran' %}">
                        <i class="fas fa-plus"></i>
                        &ensp;Tambah Poin
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- alert -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" data-message="{{ message }}" style="display:none;"></div>
        {% endfor %}
    {% endif %}
    <!-- alert -->

    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h4 class="card-title" text-align="center">
                        <strong>{{judul}}</strong>
                    </h4>
                    
                </div>

                <div class="card-body">

                    <table id="example2" class="table table-bordered table-hover" style="width: 100%; margin-top: 10px">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">No.</th>
                                <th scope="col" style="width: 15%" class="text-center">Nisn</th>
                                <th scope="col" style="width: 30%" class="text-center">Nama</th>
                                <th scope="col" style="width: 15%" class="text-center">Pelanggaran</th>
                                <th scope="col" style="width: 10%" class="text-center">Poin</th>
                                <th scope="col" style="width: 25%" class="text-center">Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for x in mpelanggaran %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{x.siswa.nisn}}</td>
                                <td>{{x.siswa.nama_siswa}}</td>
                                <td class="text-center">{{x.pelanggaran.nama_pelanggaran}}</td>
                                <td class="text-center">{{x.pelanggaran.poin_pelanggaran}}</td>
                                <td>

                                    <a href="#" class="btn btn-sm btn-info" style="font-size: 12px;"
                                    data-toggle="modal" 
                                    data-target="#detail_poin_bk{{x.id}}">
                                        <i class="fas fa-info"></i>
                                        Detail
                                    </a>

                                    <a href="#" class="btn btn-sm btn-warning" style="font-size: 12px;" data-toggle="modal" 
                                    data-target="#edit_poin_bk{{x.id}}">
                                        <i class="fas fa-edit" style="font-size: 12px;"></i>
                                        Edit
                                    </a>
                                    <a href="/guruBK/hapus-poin-pelanggaran/{{ x.id }}" style="font-size: 12px;" class="btn btn-sm btn-danger" onclick="confirmDelete(event, '{{ x.id }}');">
                                        <i class="fas fa-trash" style="font-size: 12px;"></i>
                                        Hapus
                                    </a>

                                </td>
                            </tr>

                            <!-- detail -->
                            <div class="modal fade" id="detail_poin_bk{{x.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-info">
                                            <h5 class="modal-title">Detail Poin Siswa</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form>
                                            <div class="modal-body">
    
                                                <div class="form-group">
                                                    <label>Nisn</label>
                                                    <input type="text" readonly class="form-control" value="{{x.siswa.nisn}}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Nama</label>
                                                    <input type="text" readonly class="form-control" value="{{x.siswa.nama_siswa}}"/>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Kelas</label>
                                                    <input type="text" readonly class="form-control" value="{{x.kategori_kelas}}"/>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Pelanggaran</label>
                                                    <input type="text" readonly class="form-control" value="{{x.pelanggaran.nama_pelanggaran}}"/>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label>Poin</label>
                                                    <input type="text" readonly class="form-control" value="{{x.pelanggaran.poin_pelanggaran}}"/>
                                                </div>
    
                                                <div class="form-group">
                                                    <label class="col-form-label">Catatan</label>
                                                    <textarea name="catatan" readonly type="text" class="form-control">{{x.catatan_pelanggaran}}</textarea>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Waktu</label>
                                                    <input type="text" readonly class="form-control" value="{{x.waktu}}"/>
                                                </div>
    
                                            </div>
    
                                            <div class="modal-footer" style="clear: both">
                                                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-secondary btn-sm">
                                                    <i class="fas fa-times"></i>
                                                    &ensp;Tutup
                                                </button>
                                            </div>
                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /detail -->

                            <!-- edit -->
                            <div class="modal fade" id="edit_poin_bk{{x.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-warning">
                                            <h5 class="modal-title">Edit Poin Siswa</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
    
                                        <form action="{% url 'edit_poin_pelanggaran' x.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="{{x.id}}" hidden>
                                                <div class="form-group">
                                                    <label class="col-form-label">Kategori Pelanggaran</label>
                                                    <select name="pelanggaran" class="form-control" style="width: 100%;">
                                                        <option value="">Pilih salah Satu</option>
                                                            {% for dapel in pelanggaran %}
                                                            <option value="{{dapel.id}}" {% if dapel.id == x.pelanggaran.id %}
                                                            selected 
                                                            {% endif %}>{{dapel.nama_pelanggaran}} - {{dapel.poin_pelanggaran}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
    
                                                <div class="form-group">
                                                    <label class="col-form-label">Catatan</label>
                                                    <textarea name="catpel" type="text" class="form-control">{{x.catatan_pelanggaran}}</textarea>
                                                </div>
    
                                            </div>
    
                                            <div class="modal-footer justify-content-between">
    
                                                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-secondary btn-sm">
                                                    <i class="fas fa-times"></i>
                                                    &ensp;Tutup
                                                </button>
    
                                                <button type="submit" class="btn btn-warning btn-sm">
                                                    <i class="fas fa-edit"></i>
                                                    &ensp;Simpan
                                                </button>
    
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /edit -->

                            {% endfor %}
                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function confirmDelete(event, id) {
        event.preventDefault();

        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: "Anda tidak akan dapat memulihkan data ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/guruBK/hapus-poin-pelanggaran/' + id + '/';
            }
        })
}
</script>


{% endblock content %}
