{% extends "base.html" %}

{% block content %}

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12 text-center">
                        <h1 class="m-0 text-dark">{{judul}}</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid col-sm-8">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h4 class="card-title" text-align="center"><strong>Tambah Poin Pelanggaran</strong></h4>
                        <a href="{% url 'poin_pelanggaran' %}" class="btn btn-secondary btn-sm float-right">
                            <i class="fas fa-arrow-left"></i>&ensp;Kembali
                        </a>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'tambah_poin_pelanggaran' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Kategori Kelas</label>
                                        <select name="kategori_kelas" id="kategori_kelas" class="form-control select2" style="width: 100%;" required>
                                            <option value="" selected="selected">Pilih Kategori kelas</option>
                                            {% for kategori in kategori_kelas  %}
                                                <option value="{{kategori}}">{{kategori}}</option>
                                            {% endfor %}   
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nama Kelas</label>
                                        <select name="nama_kelas" id="nama_kelas" class="form-control select2" style="width: 100%;">
                                            <option value="" selected="selected">Pilih kategori kelas dulu</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">    
                                    <label>Nama Siswa</label>
                                    <select id="siswa" name="siswa" class="form-control select2" style="width: 100%;">
                                        <option value="" selected="selected">pilih siswa</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Kategori Pelanggaran</label>
                                    <select name="pelanggaran" class="form-control" style="width: 100%;" >
                                        <option value="">Pilih Salah Satu</option>
                                        {% for pelanggaran_item in pelanggaran %}
                                            <option value="{{ pelanggaran_item.id }}" {% if pelanggaran_item.id == x.pelanggaran.id %}selected{% endif %}>
                                                {{ pelanggaran_item.nama_pelanggaran }} - {{ pelanggaran_item.poin_pelanggaran }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="catatan" class="col-form-label">Catatan</label>
                                    <textarea type="text" name="catatan" class="form-control" id="catatan" placeholder="Catatan"></textarea>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a class="btn btn-danger btn-sm" href="#"><i class="fa fa-undo"></i>&ensp;Reset</a>
                                <button type="submit" class="btn btn-primary btn-sm ">Submit &ensp;<i class="fas fa-arrow-right"></i></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        

    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#kategori_kelas').change(function () {
                var kelasID = $(this).val();
                if (kelasID) {
                    $.ajax({
                        url: '{% url "ajax_load_nama_kelas" %}',
                        data: {
                            'kelas_id': kelasID
                        },
                        success: function (data) {
                            $('#nama_kelas').html('<option value="" selected="selected">Pilih Nama Kelas</option>');
                            $.each(data, function (key, value) {
                                $('#nama_kelas').append('<option value="' + value.id + '">' + value.nama_kelas + '</option>');
                            });
                        }
                    });
                } else {
                    $('#nama_kelas').html('<option value="" selected="selected">Pilih Kategori Kelas dulu</option>');
                }
            });
    
            $('#nama_kelas').change(function () {
                var namaKelasID = $(this).val();
                if (namaKelasID) {
                    $.ajax({
                        url: '{% url "ajax_load_nama_siswa" %}',
                        data: {
                            'nama_kelas_id': namaKelasID
                        },
                        success: function (data) {
                            $('#siswa').html('<option value="" selected="selected">Pilih Nama Siswa</option>');
                            $.each(data, function (key, value) {
                                $('#siswa').append('<option value="' + value.nisn + '">' + value.nama_siswa + '(' + value.nisn + ') </option>');
                            });
                        }
                    });
                } else {
                    $('#siswa').html('<option value="" selected="selected">Pilih Nama Kelas dulu</option>');
                }
            });
        });
    </script>
    

{% endblock content %}