{% extends 'base.html' %}


{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12 text-center">
                    
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h4 class="card-title" text-align="center"><strong>{{judul}}</strong></h4>

                </div>
                <div class="card-body">
                    
                    <table id="example2" class="table table-bordered table-hover" style="width: 100%; margin-top: 10px;">
                        <thead>
                            <tr class="text-center">
                                <th scope="col" style="width: 2%;">No.</th>
                                <th scope="col" style="width: 55%;">Nama Prestasi</th>
                                <th scope="col" style="width: 10%;">Poin</th>
                            </tr>
                        </thead>
                    
                        <tbody>

                            {% for x in pres %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{x.nama_prestasi}}</td>
                                <td class="text-center">{{x.poin_prestasi}}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock content %}